<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name='viewport' content='initial-scale=1, viewport-fit=cover'>
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="icon" type="image/x-icon" href="img/guenther_favicon.png">

		<title><%= pageTitle %></title>
	</head>


	<body>
		<h1>The page you were looking for is not here</h1>
		<h3>Please press the back button</h3>
	</body>

</html>
